h1.temp {
  font-size: 64px;
  display: flex;
  position: relative;
  left: -110px;
  top: -20px;
}

small.units {
  font-size: 16px;
  top: 40px;
  left: 2px;
}

@media (max-width: 900px) {
  h1.temp {
    font-size: 64px;
    display: fixed;
    left: -105px;
    top: -30px;
  }

  small.units {
    font-size: 16px;
    top: 10px;
    left: 2px;
  }
}
